<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="main">
    <div class="container d-flex">
        <div class="flex-grow-1 col-sm-8 mx-4">
            <h2>Здравствуйте, <span sec:authentication="name"></span>!</h2>
        </div>

        <div class="flex-grow-1 col-lg-4 m-2">
            <div>
                <form th:action="@{/books/find}" method="get" class="d-flex m-2" role="search"
                      onsubmit="return validateForm()">
                    <input th:name="bookId" id="bookId" class="form-control me-2" type="search"
                           placeholder="Поиск книги по Id:" aria-label="Поиск книги по Id:">
                    <button class="btn btn-success" type="submit" id="searchButton" disabled>Поиск</button>
                    <!-- Validation search form -->
                    <script src="/js/search-validation.js"></script>
                </form>
            </div>

            <div sec:authorize="hasRole('ROLE_ADMIN')" class="m-2">
                <h4>Функции Админинстратора</h4>
                <div class="box">
                    <img src="/img/users.png" class="img-thumbnail" alt="...">
                    <a href="/admin/users">Информация по пользователям</a>
                </div>
            </div>
        </div>
    </div>
</div>